In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
X = data.drop("EstimatedSalary", axis=1)
y = data["EstimatedSalary"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
onehot_encoder_gender = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_gender_encoded = onehot_encoder_gender.fit_transform(X_train[["Gender"]])
X_test_gender_encoded = onehot_encoder_gender.transform(X_test[["Gender"]])

In [6]:
onehot_encoder_geo = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_geo_encoded = onehot_encoder_geo.fit_transform(X_train[["Geography"]])
X_test_geo_encoded = onehot_encoder_geo.transform(X_test[["Geography"]])

In [7]:
gender_encoded_df = pd.DataFrame(X_train_gender_encoded, columns=onehot_encoder_gender.get_feature_names_out(["Gender"]))
gender_encoded_df

      Gender_Female  Gender_Male
0               0.0          1.0
1               0.0          1.0
2               0.0          1.0
3               1.0          0.0
4               0.0          1.0
...             ...          ...
7995            0.0          1.0
7996            1.0          0.0
7997            1.0          0.0
7998            0.0          1.0
7999            0.0          1.0

[8000 rows x 2 columns]

In [8]:
geo_encoded_df = pd.DataFrame(X_train_geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                1.0              0.0
2                  0.0                0.0              1.0
3                  1.0                0.0              0.0
4                  1.0                0.0              0.0
...                ...                ...              ...
7995               1.0                0.0              0.0
7996               1.0                0.0              0.0
7997               1.0                0.0              0.0
7998               1.0                0.0              0.0
7999               0.0                1.0              0.0

[8000 rows x 3 columns]

In [9]:
gender_train_df = pd.DataFrame(X_train_gender_encoded, 
                           columns=onehot_encoder_gender.get_feature_names_out(["Gender"]),
                           index=X_train.index)
gender_test_df = pd.DataFrame(X_test_gender_encoded,
                          columns=onehot_encoder_gender.get_feature_names_out(["Gender"]),
                          index=X_test.index)

In [10]:
geo_train_df = pd.DataFrame(X_train_geo_encoded, 
                           columns=onehot_encoder_geo.get_feature_names_out(["Geography"]),
                           index=X_train.index)
geo_test_df = pd.DataFrame(X_test_geo_encoded,
                          columns=onehot_encoder_geo.get_feature_names_out(["Geography"]),
                          index=X_test.index)

In [11]:
X_train = pd.concat([X_train.drop(["Geography", "Gender"], axis=1), gender_train_df, geo_train_df], axis=1)
X_test = pd.concat([X_test.drop(["Geography", "Gender"], axis=1), gender_test_df, geo_test_df], axis=1)

In [12]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
9254,686,32,6,0.00,2,1,1,0,0.0,1.0,1.0,0.0,0.0
1561,632,42,4,119624.60,2,1,1,0,0.0,1.0,0.0,1.0,0.0
1670,559,24,3,114739.92,1,1,0,1,0.0,1.0,0.0,0.0,1.0
6087,561,27,9,135637.00,1,1,0,1,1.0,0.0,1.0,0.0,0.0
6669,517,56,9,142147.32,1,0,0,1,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,0,0.0,1.0,1.0,0.0,0.0
5191,682,58,1,0.00,1,1,1,0,1.0,0.0,1.0,0.0,0.0
5390,735,38,1,0.00,3,0,0,1,1.0,0.0,1.0,0.0,0.0
860,667,43,8,190227.46,1,1,0,1,0.0,1.0,1.0,0.0,0.0
7270,697,51,1,147910.30,1,1,1,0,0.0,1.0,0.0,1.0,0.0

In [13]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
## Save the encoders and scaler
with open ("artifacts/preprocessing/OHE_gender_salary.pkl", "wb") as file:
    pickle.dump(onehot_encoder_gender, file)
with open("artifacts/preprocessing/OHE_geo_salary.pkl", "wb") as file:
    pickle.dump(onehot_encoder_geo, file)
with open('artifacts/preprocessing/scaler_salary.pkl','wb') as file:
    pickle.dump(scaler,file)

#### ANN Regression Problem statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Prima\Github\Churn_Modelling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [16]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Prima\Github\Churn_Modelling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Prima\Github\Churn_Modelling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                896

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3009 (11.75 KB)
Trainable params: 3009 (11.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [19]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Prima\Github\Churn_Modelling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Prima\Github\Churn_Modelling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 11ms/step - loss: 100354.3906 - mae: 100354.3906 - val_loss: 98436.9844 - val_mae: 98436.9844
Epoch 2/100
250/250 [==============================] - 1s 6ms/step - loss: 99329.9297 - mae: 99329.9297 - val_loss: 96364.2734 - val_mae: 96364.2734
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 95723.3828 - mae: 95723.3828 - val_loss: 91112.4922 - val_mae: 91112.4922
Epoch 4/100
250/250 [==============================] - 1s 6ms/step - loss: 88799.6172 - mae: 88799.6172 - val_loss: 82701.6797 - val_mae: 82701.6797
Epoch 5/100
250/250 [==============================] - 1s 6ms/step - loss: 79199.9141 - mae: 79199.9141 - val_loss: 72569.4453 - val_mae: 72569.4453
Epoch 6/100
250/250 [==============================] - 2s 6ms/step - loss: 68971.8516 - mae: 68971.8516 - val_loss: 63164.5430 - val_mae: 63164.5430
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 60309.0664 - mae: 60309.0664 - val_loss: 56409.2930 - val_mae: 56409.2930
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 54632.1758 - mae: 54632.1758 - val_loss: 52755.6914 - val_mae: 52755.6914
Epoch 9/100
250/250 [==============================] - 2s 8ms/step - loss: 51787.0508 - mae: 51787.0508 - val_loss: 51240.4883 - val_mae: 51240.4883
Epoch 10/100
250/250 [==============================] - 2s 9ms/step - loss: 50667.3594 - mae: 50667.3594 - val_loss: 50779.7188 - val_mae: 50779.7188
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 50285.1367 - mae: 50285.1367 - val_loss: 50649.4297 - val_mae: 50649.4297
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 50147.6602 - mae: 50147.6602 - val_loss: 50595.0117 - val_mae: 50595.0117
Epoch 13/100
250/250 [==============================] - 1s 6ms/step - loss: 50073.3516 - mae: 50073.3516 - val_loss: 50562.9062 - val_mae: 50562.9062
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 50020.2812 - mae: 50020.2812 - val_loss: 50523.3320 - val_mae: 50523.3320
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 49967.1367 - mae: 49967.1367 - val_loss: 50500.4258 - val_mae: 50500.4258
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 49928.6172 - mae: 49928.6172 - val_loss: 50468.7891 - val_mae: 50468.7891
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 49892.7383 - mae: 49892.7383 - val_loss: 50466.1250 - val_mae: 50466.1250
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49863.0312 - mae: 49863.0312 - val_loss: 50443.5547 - val_mae: 50443.5547
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49835.1953 - mae: 49835.1953 - val_loss: 50434.4531 - val_mae: 50434.4531
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 49808.6914 - mae: 49808.6914 - val_loss: 50423.3086 - val_mae: 50423.3086
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49786.3633 - mae: 49786.3633 - val_loss: 50407.6953 - val_mae: 50407.6953
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49759.5234 - mae: 49759.5234 - val_loss: 50404.6250 - val_mae: 50404.6250
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49742.7344 - mae: 49742.7344 - val_loss: 50388.7070 - val_mae: 50388.7070
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49720.8242 - mae: 49720.8242 - val_loss: 50383.4258 - val_mae: 50383.4258
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49700.1836 - mae: 49700.1836 - val_loss: 50376.6328 - val_mae: 50376.6328
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 49684.1172 - mae: 49684.1172 - val_loss: 50372.2422 - val_mae: 50372.2422
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 49665.3906 - mae: 49665.3906 - val_loss: 50382.9336 - val_mae: 50382.9336
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 49654.7344 - mae: 49654.7344 - val_loss: 50366.4648 - val_mae: 50366.4648
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49636.8633 - mae: 49636.8633 - val_loss: 50363.2969 - val_mae: 50363.2969
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49624.2109 - mae: 49624.2109 - val_loss: 50368.4766 - val_mae: 50368.4766
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49609.5625 - mae: 49609.5625 - val_loss: 50365.8672 - val_mae: 50365.8672
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49595.8984 - mae: 49595.8984 - val_loss: 50365.8633 - val_mae: 50365.8633
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49582.4453 - mae: 49582.4453 - val_loss: 50358.4492 - val_mae: 50358.4492
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 49570.0078 - mae: 49570.0078 - val_loss: 50378.7109 - val_mae: 50378.7109
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49559.0391 - mae: 49559.0391 - val_loss: 50365.8906 - val_mae: 50365.8906
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 49552.4297 - mae: 49552.4297 - val_loss: 50367.7344 - val_mae: 50367.7344
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49537.7812 - mae: 49537.7812 - val_loss: 50372.6133 - val_mae: 50372.6133
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49529.7773 - mae: 49529.7773 - val_loss: 50361.9414 - val_mae: 50361.9414
Epoch 39/100
250/250 [==============================] - 2s 7ms/step - loss: 49520.8516 - mae: 49520.8516 - val_loss: 50362.3750 - val_mae: 50362.3750
Epoch 40/100
250/250 [==============================] - 2s 7ms/step - loss: 49513.0312 - mae: 49513.0312 - val_loss: 50372.1797 - val_mae: 50372.1797
Epoch 41/100
250/250 [==============================] - 1s 6ms/step - loss: 49500.1641 - mae: 49500.1641 - val_loss: 50374.7539 - val_mae: 50374.7539
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49490.7383 - mae: 49490.7383 - val_loss: 50370.1172 - val_mae: 50370.1172
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49486.6719 - mae: 49486.6719 - val_loss: 50369.4297 - val_mae: 50369.4297

In [20]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit/20260105-140742

In [22]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50358.4492 - mae: 50358.4492
Test MAE : 50358.44921875

In [23]:
model.save('artifacts/model/regression_model.h5')

c:\Prima\Github\Churn_Modelling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(