In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
X = data.drop("EstimatedSalary", axis=1)
y = data["EstimatedSalary"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
onehot_encoder_gender = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_gender_encoded = onehot_encoder_gender.fit_transform(X_train[["Gender"]])
X_test_gender_encoded = onehot_encoder_gender.transform(X_test[["Gender"]])

In [6]:
onehot_encoder_geo = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_geo_encoded = onehot_encoder_geo.fit_transform(X_train[["Geography"]])
X_test_geo_encoded = onehot_encoder_geo.transform(X_test[["Geography"]])

In [7]:
gender_encoded_df = pd.DataFrame(X_train_gender_encoded, columns=onehot_encoder_gender.get_feature_names_out(["Gender"]))
gender_encoded_df

      Gender_Female  Gender_Male
0               0.0          1.0
1               0.0          1.0
2               0.0          1.0
3               1.0          0.0
4               0.0          1.0
...             ...          ...
7995            0.0          1.0
7996            1.0          0.0
7997            1.0          0.0
7998            0.0          1.0
7999            0.0          1.0

[8000 rows x 2 columns]

In [8]:
geo_encoded_df = pd.DataFrame(X_train_geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                1.0              0.0
2                  0.0                0.0              1.0
3                  1.0                0.0              0.0
4                  1.0                0.0              0.0
...                ...                ...              ...
7995               1.0                0.0              0.0
7996               1.0                0.0              0.0
7997               1.0                0.0              0.0
7998               1.0                0.0              0.0
7999               0.0                1.0              0.0

[8000 rows x 3 columns]

In [9]:
gender_train_df = pd.DataFrame(X_train_gender_encoded, 
                           columns=onehot_encoder_gender.get_feature_names_out(["Gender"]),
                           index=X_train.index)
gender_test_df = pd.DataFrame(X_test_gender_encoded,
                          columns=onehot_encoder_gender.get_feature_names_out(["Gender"]),
                          index=X_test.index)

In [10]:
geo_train_df = pd.DataFrame(X_train_geo_encoded, 
                           columns=onehot_encoder_geo.get_feature_names_out(["Geography"]),
                           index=X_train.index)
geo_test_df = pd.DataFrame(X_test_geo_encoded,
                          columns=onehot_encoder_geo.get_feature_names_out(["Geography"]),
                          index=X_test.index)

In [11]:
X_train = pd.concat([X_train.drop(["Geography", "Gender"], axis=1), gender_train_df, geo_train_df], axis=1)
X_test = pd.concat([X_test.drop(["Geography", "Gender"], axis=1), gender_test_df, geo_test_df], axis=1)

In [12]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
9254,686,32,6,0.00,2,1,1,0,0.0,1.0,1.0,0.0,0.0
1561,632,42,4,119624.60,2,1,1,0,0.0,1.0,0.0,1.0,0.0
1670,559,24,3,114739.92,1,1,0,1,0.0,1.0,0.0,0.0,1.0
6087,561,27,9,135637.00,1,1,0,1,1.0,0.0,1.0,0.0,0.0
6669,517,56,9,142147.32,1,0,0,1,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,0,0.0,1.0,1.0,0.0,0.0
5191,682,58,1,0.00,1,1,1,0,1.0,0.0,1.0,0.0,0.0
5390,735,38,1,0.00,3,0,0,1,1.0,0.0,1.0,0.0,0.0
860,667,43,8,190227.46,1,1,0,1,0.0,1.0,1.0,0.0,0.0
7270,697,51,1,147910.30,1,1,1,0,0.0,1.0,0.0,1.0,0.0

In [13]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
## Save the encoders and scaler
with open ("OHE_gender_salary.pkl", "wb") as file:
    pickle.dump(onehot_encoder_gender, file)
with open("OHE_geo_salary.pkl", "wb") as file:
    pickle.dump(onehot_encoder_geo, file)
with open('scaler_salary.pkl','wb') as file:
    pickle.dump(scaler,file)

#### ANN Regression Problem statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [16]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                896

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3009 (11.75 KB)
Trainable params: 3009 (11.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [19]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 100378.1562 - mae: 100378.1562 - val_loss: 98519.0859 - val_mae: 98519.0859
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99640.1328 - mae: 99640.1328 - val_loss: 97033.5078 - val_mae: 97033.5078
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97051.2500 - mae: 97051.2500 - val_loss: 93252.5703 - val_mae: 93252.5703
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91971.5078 - mae: 91971.5078 - val_loss: 86896.3203 - val_mae: 86896.3203
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 84406.1328 - mae: 84406.1328 - val_loss: 78508.9531 - val_mae: 78508.9531
Epoch 6/100
250/250 [==============================] - 1s 6ms/step - loss: 75349.7578 - mae: 75349.7578 - val_loss: 69632.8281 - val_mae: 69632.8281
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 66489.7656 - mae: 66489.7656 - val_loss: 61796.5430 - val_mae: 61796.5430
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 59320.2031 - mae: 59320.2031 - val_loss: 56167.6367 - val_mae: 56167.6367
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 54545.9062 - mae: 54545.9062 - val_loss: 52917.4141 - val_mae: 52917.4141
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51945.6953 - mae: 51945.6953 - val_loss: 51551.2695 - val_mae: 51551.2695
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50806.5547 - mae: 50806.5547 - val_loss: 51015.3047 - val_mae: 51015.3047
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50385.5078 - mae: 50385.5078 - val_loss: 50833.7773 - val_mae: 50833.7773
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50230.3789 - mae: 50230.3789 - val_loss: 50785.1562 - val_mae: 50785.1562
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50154.3047 - mae: 50154.3047 - val_loss: 50743.2578 - val_mae: 50743.2578
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50099.5508 - mae: 50099.5508 - val_loss: 50711.2734 - val_mae: 50711.2734
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50055.9219 - mae: 50055.9219 - val_loss: 50682.8945 - val_mae: 50682.8945
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50019.3945 - mae: 50019.3945 - val_loss: 50673.4805 - val_mae: 50673.4805
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 49985.4570 - mae: 49985.4570 - val_loss: 50645.5000 - val_mae: 50645.5000
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49954.6055 - mae: 49954.6055 - val_loss: 50629.1875 - val_mae: 50629.1875
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49924.0117 - mae: 49924.0117 - val_loss: 50615.7852 - val_mae: 50615.7852
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49900.5703 - mae: 49900.5703 - val_loss: 50609.4531 - val_mae: 50609.4531
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49875.7656 - mae: 49875.7656 - val_loss: 50598.5781 - val_mae: 50598.5781
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49854.4570 - mae: 49854.4570 - val_loss: 50589.6523 - val_mae: 50589.6523
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49832.7930 - mae: 49832.7930 - val_loss: 50587.4023 - val_mae: 50587.4023
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49813.9883 - mae: 49813.9883 - val_loss: 50574.8125 - val_mae: 50574.8125
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49793.8047 - mae: 49793.8047 - val_loss: 50557.3438 - val_mae: 50557.3438
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49775.8750 - mae: 49775.8750 - val_loss: 50549.5352 - val_mae: 50549.5352
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49761.7773 - mae: 49761.7773 - val_loss: 50536.3828 - val_mae: 50536.3828
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49745.0352 - mae: 49745.0352 - val_loss: 50541.2656 - val_mae: 50541.2656
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49728.7891 - mae: 49728.7891 - val_loss: 50538.5898 - val_mae: 50538.5898
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49715.5742 - mae: 49715.5742 - val_loss: 50536.3086 - val_mae: 50536.3086
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49701.8516 - mae: 49701.8516 - val_loss: 50531.3438 - val_mae: 50531.3438
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49690.1992 - mae: 49690.1992 - val_loss: 50527.5078 - val_mae: 50527.5078
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49676.9766 - mae: 49676.9766 - val_loss: 50514.7305 - val_mae: 50514.7305
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49664.0000 - mae: 49664.0000 - val_loss: 50509.7266 - val_mae: 50509.7266
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49661.2734 - mae: 49661.2734 - val_loss: 50513.3125 - val_mae: 50513.3125
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49644.6445 - mae: 49644.6445 - val_loss: 50501.2969 - val_mae: 50501.2969
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49633.5781 - mae: 49633.5781 - val_loss: 50490.8242 - val_mae: 50490.8242
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49623.2188 - mae: 49623.2188 - val_loss: 50493.1406 - val_mae: 50493.1406
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49613.1602 - mae: 49613.1602 - val_loss: 50480.5664 - val_mae: 50480.5664
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49604.4219 - mae: 49604.4219 - val_loss: 50491.2578 - val_mae: 50491.2578
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49596.4922 - mae: 49596.4922 - val_loss: 50492.6445 - val_mae: 50492.6445
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49588.6016 - mae: 49588.6016 - val_loss: 50499.9609 - val_mae: 50499.9609
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49580.0508 - mae: 49580.0508 - val_loss: 50479.9023 - val_mae: 50479.9023
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49573.7695 - mae: 49573.7695 - val_loss: 50466.5234 - val_mae: 50466.5234
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49566.4805 - mae: 49566.4805 - val_loss: 50468.0977 - val_mae: 50468.0977
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49553.4609 - mae: 49553.4609 - val_loss: 50481.1758 - val_mae: 50481.1758
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49548.4375 - mae: 49548.4375 - val_loss: 50476.9961 - val_mae: 50476.9961
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49538.0117 - mae: 49538.0117 - val_loss: 50481.2930 - val_mae: 50481.2930
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49532.3125 - mae: 49532.3125 - val_loss: 50471.6289 - val_mae: 50471.6289
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49523.1484 - mae: 49523.1484 - val_loss: 50487.9453 - val_mae: 50487.9453
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49516.9336 - mae: 49516.9336 - val_loss: 50464.5469 - val_mae: 50464.5469
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49512.4219 - mae: 49512.4219 - val_loss: 50459.4219 - val_mae: 50459.4219
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49505.9805 - mae: 49505.9805 - val_loss: 50465.2695 - val_mae: 50465.2695
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49498.2812 - mae: 49498.2812 - val_loss: 50471.9219 - val_mae: 50471.9219
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49490.6484 - mae: 49490.6484 - val_loss: 50473.9844 - val_mae: 50473.9844
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49485.5977 - mae: 49485.5977 - val_loss: 50477.5352 - val_mae: 50477.5352
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49479.9648 - mae: 49479.9648 - val_loss: 50461.9297 - val_mae: 50461.9297
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49474.1094 - mae: 49474.1094 - val_loss: 50471.9062 - val_mae: 50471.9062
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49465.1719 - mae: 49465.1719 - val_loss: 50474.5742 - val_mae: 50474.5742
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49461.0586 - mae: 49461.0586 - val_loss: 50462.0977 - val_mae: 50462.0977
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49454.0234 - mae: 49454.0234 - val_loss: 50473.0859 - val_mae: 50473.0859
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49450.9805 - mae: 49450.9805 - val_loss: 50480.5078 - val_mae: 50480.5078

In [20]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit/20260105-154052

In [22]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50459.4219 - mae: 50459.4219
Test MAE : 50459.421875

In [23]:
model.save('regression_model.h5')

c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(