In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
X = data.drop("EstimatedSalary", axis=1)
y = data["EstimatedSalary"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
onehot_encoder_gender = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_gender_encoded = onehot_encoder_gender.fit_transform(X_train[["Gender"]])
X_test_gender_encoded = onehot_encoder_gender.transform(X_test[["Gender"]])

In [6]:
onehot_encoder_geo = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_geo_encoded = onehot_encoder_geo.fit_transform(X_train[["Geography"]])
X_test_geo_encoded = onehot_encoder_geo.transform(X_test[["Geography"]])

In [7]:
gender_encoded_df = pd.DataFrame(X_train_gender_encoded, columns=onehot_encoder_gender.get_feature_names_out(["Gender"]))
gender_encoded_df

      Gender_Female  Gender_Male
0               0.0          1.0
1               0.0          1.0
2               0.0          1.0
3               1.0          0.0
4               0.0          1.0
...             ...          ...
7995            0.0          1.0
7996            1.0          0.0
7997            1.0          0.0
7998            0.0          1.0
7999            0.0          1.0

[8000 rows x 2 columns]

In [8]:
geo_encoded_df = pd.DataFrame(X_train_geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                1.0              0.0
2                  0.0                0.0              1.0
3                  1.0                0.0              0.0
4                  1.0                0.0              0.0
...                ...                ...              ...
7995               1.0                0.0              0.0
7996               1.0                0.0              0.0
7997               1.0                0.0              0.0
7998               1.0                0.0              0.0
7999               0.0                1.0              0.0

[8000 rows x 3 columns]

In [9]:
gender_train_df = pd.DataFrame(X_train_gender_encoded, 
                           columns=onehot_encoder_gender.get_feature_names_out(["Gender"]),
                           index=X_train.index)
gender_test_df = pd.DataFrame(X_test_gender_encoded,
                          columns=onehot_encoder_gender.get_feature_names_out(["Gender"]),
                          index=X_test.index)

In [10]:
geo_train_df = pd.DataFrame(X_train_geo_encoded, 
                           columns=onehot_encoder_geo.get_feature_names_out(["Geography"]),
                           index=X_train.index)
geo_test_df = pd.DataFrame(X_test_geo_encoded,
                          columns=onehot_encoder_geo.get_feature_names_out(["Geography"]),
                          index=X_test.index)

In [11]:
X_train = pd.concat([X_train.drop(["Geography", "Gender"], axis=1), gender_train_df, geo_train_df], axis=1)
X_test = pd.concat([X_test.drop(["Geography", "Gender"], axis=1), gender_test_df, geo_test_df], axis=1)

In [12]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
9254,686,32,6,0.00,2,1,1,0,0.0,1.0,1.0,0.0,0.0
1561,632,42,4,119624.60,2,1,1,0,0.0,1.0,0.0,1.0,0.0
1670,559,24,3,114739.92,1,1,0,1,0.0,1.0,0.0,0.0,1.0
6087,561,27,9,135637.00,1,1,0,1,1.0,0.0,1.0,0.0,0.0
6669,517,56,9,142147.32,1,0,0,1,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,0,0.0,1.0,1.0,0.0,0.0
5191,682,58,1,0.00,1,1,1,0,1.0,0.0,1.0,0.0,0.0
5390,735,38,1,0.00,3,0,0,1,1.0,0.0,1.0,0.0,0.0
860,667,43,8,190227.46,1,1,0,1,0.0,1.0,1.0,0.0,0.0
7270,697,51,1,147910.30,1,1,1,0,0.0,1.0,0.0,1.0,0.0

In [13]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
## Save the encoders and scaler
with open ("artifacts/preprocessing/OHE_gender_salary.pkl", "wb") as file:
    pickle.dump(onehot_encoder_gender, file)
with open("artifacts/preprocessing/OHE_geo_salary.pkl", "wb") as file:
    pickle.dump(onehot_encoder_geo, file)
with open('artifacts/preprocessing/scaler_salary.pkl','wb') as file:
    pickle.dump(scaler,file)

#### ANN Regression Problem statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [16]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                896

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3009 (11.75 KB)
Trainable params: 3009 (11.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [19]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 10ms/step - loss: 100362.6953 - mae: 100362.6953 - val_loss: 98455.4688 - val_mae: 98455.4688
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 99400.4609 - mae: 99400.4609 - val_loss: 96524.0000 - val_mae: 96524.0000
Epoch 3/100
250/250 [==============================] - 2s 6ms/step - loss: 96078.7422 - mae: 96078.7422 - val_loss: 91684.4297 - val_mae: 91684.4297
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 89683.4297 - mae: 89683.4297 - val_loss: 83876.2266 - val_mae: 83876.2266
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 80692.4375 - mae: 80692.4375 - val_loss: 74281.8984 - val_mae: 74281.8984
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 70741.0156 - mae: 70741.0156 - val_loss: 64952.9062 - val_mae: 64952.9062
Epoch 7/100
250/250 [==============================] - 2s 6ms/step - loss: 61889.1484 - mae: 61889.1484 - val_loss: 57686.2227 - val_mae: 57686.2227
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 55669.3125 - mae: 55669.3125 - val_loss: 53236.0352 - val_mae: 53236.0352
Epoch 9/100
250/250 [==============================] - 2s 6ms/step - loss: 52185.3008 - mae: 52185.3008 - val_loss: 51188.5391 - val_mae: 51188.5391
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 50670.0195 - mae: 50670.0195 - val_loss: 50565.5039 - val_mae: 50565.5039
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 50150.8125 - mae: 50150.8125 - val_loss: 50433.5312 - val_mae: 50433.5312
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 49978.8086 - mae: 49978.8086 - val_loss: 50428.7305 - val_mae: 50428.7305
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 49906.0703 - mae: 49906.0703 - val_loss: 50418.8750 - val_mae: 50418.8750
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 49868.1992 - mae: 49868.1992 - val_loss: 50409.6914 - val_mae: 50409.6914
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 49835.3320 - mae: 49835.3320 - val_loss: 50417.8398 - val_mae: 50417.8398
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 49811.8594 - mae: 49811.8594 - val_loss: 50412.2461 - val_mae: 50412.2461
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 49784.0586 - mae: 49784.0586 - val_loss: 50418.6250 - val_mae: 50418.6250
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49764.6562 - mae: 49764.6562 - val_loss: 50431.1055 - val_mae: 50431.1055
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 49742.5742 - mae: 49742.5742 - val_loss: 50430.4141 - val_mae: 50430.4141
Epoch 20/100
250/250 [==============================] - 2s 6ms/step - loss: 49721.8984 - mae: 49721.8984 - val_loss: 50433.7656 - val_mae: 50433.7656
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49707.3828 - mae: 49707.3828 - val_loss: 50433.3398 - val_mae: 50433.3398
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49687.7070 - mae: 49687.7070 - val_loss: 50430.2969 - val_mae: 50430.2969
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49674.0703 - mae: 49674.0703 - val_loss: 50444.6055 - val_mae: 50444.6055
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49659.6289 - mae: 49659.6289 - val_loss: 50427.5234 - val_mae: 50427.5234

In [20]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit/20260105-184137

In [22]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50409.6914 - mae: 50409.6914
Test MAE : 50409.69140625

In [23]:
model.save('artifacts/model/regression_model.h5')

c:\Prima\Github\Churn_Modeling_Classification_ANN_DLProject\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(